# Ignore everything
*

# But don't ignore directories, so we can recurse into them
!*/

# Don't ignore .py files
!*.py

# Don't ignore .ipynb files
!*.ipynb
!*.md

# Don't ignore .gitignore itself
!.gitignore

# Still ignore pycache directories and their contents
__pycache__/
*.py[cod]
*$py.class

# Still ignore ipynb checkpoints
.ipynb_checkpoints
